html,
body {
  width: 200px;
  height: 300px;
  box-sizing: border-box;
  font-size: 0.95rem;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  color: #373737;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  width: 150px;
  text-align: center;
}

.button {
  display: block;
  width: 100%;
  cursor: pointer;
  color: inherit;
  text-align: center;
  border: 1px solid #373737;
  border-radius: 2px;
  margin: 5px 0;
  padding: 5px 0;
  transition: box-shadow 0.2s ease-in, color 0.3s ease-in, transform 0.05s;
}

.button:hover,
.button:focus {
  box-shadow: inset 0 -3.25em 0 0 #373737;
  color: #f4f4f4;
}
.button:active {
  transform: scale(0.99);
}

.input {
  display: block;
  width: calc(100% - 20px);
  border: 1px solid #373737;
  border-radius: 2px;
  margin: 5px 0;
  padding: 5px 10px;
  font-size: inherit;
  text-align: center;
}

.input:focus,
.input:active {
  box-shadow: 0 0 2px 0 #373737;
}
